.reviews-container {
  display: flex;
  gap: 2rem;
  mask-image: linear-gradient(
    to right,
    transparent 0,
    black 7rem,
    black calc(100% - 7rem),
    transparent 100%
  );
  padding: 2rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.reviews-container::-webkit-scrollbar {
  display: none;
}

.review-card {
  display: flex;
  flex: 0 0 20rem;
  flex-direction: column;
  gap: 0.4rem;
  border: 1px solid var(--border-light);
  border-radius: 0.75rem;
  padding: 0.6rem 1.2rem;
  max-height: 18rem;

  scroll-snap-align: start;
}

.review-card__stars {
  color: var(--accent-star);
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.review-card__reviewer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: var(--weight-bold);
}

.review-card__success {
  color: var(--accent-success);
  font-size: smaller;
}

.review-card__review {
  flex: 1;
  color: var(--text-secondary);
  line-height: 1.6;
}
.review-card__date {
  color: var(--text-muted);
  font-size: smaller;
}
