.button {
  display: block;
  width: 100%;
  max-width: 14rem;
  padding: 1.2rem 2rem;
  margin: 3rem auto;
  background-color: var(--bg-primary);
  border: 1px solid var(--border-light);
  border-radius: 1.8rem;
  text-align: center;
  font-weight: var(--weight-medium);
  cursor: pointer;
  transition: 0.2s ease;
}

.button:hover {
  transform: translateY(-1px);
  background-color: var(--bg-dark);
  color: white;
}

.button:active {
  transform: translateY(0px);
}
