/* import all css files here */

/* 1. Import Fonts first so they start loading immediately */
@import url("./base/fonts.css");

/* 2. Import Variables */
@import url("./base/variables.css");

/* 3. Import Components styles */
@import url("../components/button/button.styles.css");
@import url("../components/grid/grid.css");
@import url("../components/navBar/navBar.styles.css");
@import url("../components/productCard/productCard.styles.css");
@import url("../components/review/reviewCard.styles.css");
@import url("../components/footer/footer.styles.css");
@import url("../pages/NotFound/NotFound.styles.css");
@import url("../pages/Products/Products.styles.css");
@import url("../pages/Products/components/pagination/pagination.stylels.css");
@import url("../pages/Home/components/hero/hero.styles.css");
@import url("../pages/Home/components/categoryGrid/categoryGrid.styles.css");
@import url("../pages/Products/components/filter/filter.styles.css");
@import url("../pages/ProductDetails/productDetails.styles.css");
@import url("../pages/Cart/Cart.styles.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-primary);
  font-weight: var(--weight-regular);
  font-family: var(--font-main);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main#view {
  flex: 1;
  margin-bottom: 10rem;
}

.container {
  margin-inline: auto;
  padding-inline: 10rem;
  width: 100%;
}

.heading {
  font-weight: var(--weight-black);
  font-size: 3rem;
  line-height: 1;
  text-transform: uppercase;
}

.separator-label {
  margin: 3rem 0;
  text-align: center;
}

.hr {
  margin: 0 auto;
  background-color: var(--border-light);
  height: 1px;
}

.line {
  margin: 1rem 0;
  background-color: var(--border-light);
  width: 100%;
  height: 1px;
}
