.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border-medium);
  background: var(--bg-primary);
  padding: 1.5rem 0;
}

.navbar__logo {
  color: inherit;
  font-weight: var(--weight-black);
  font-size: 1.8rem;
  text-decoration: none;
}

.navbar__menu {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}

.navbar__link {
  transition: color 0.2s ease;
  cursor: pointer;
  color: var(--text-secondary);
  text-decoration: none;
}

.navbar__link:hover {
  color: var(--text-primary);
}

.navbar__link--active {
  font-weight: var(--weight-bold);
}

.navbar__search {
  display: flex;
  flex-grow: 1;
  gap: 0.5rem;
  border-radius: 1.2rem;
  background-color: var(--bg-secondary);
  padding: 0.5rem 1rem;
  max-width: 500px;
}

.navbar__search-icon {
  border-right: 1px solid;
  border-color: var(--text-secondary);
  padding-right: 0.5rem;
  color: var(--text-secondary);
}

.navbar__search-form {
  flex-grow: 1;
}

.navbar__search-input {
  outline: none;
  border: none;
  background-color: transparent;
  width: 100%;
  caret-color: var(--text-secondary);
}

.navbar__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar__cart {
  position: relative;
}

.cart__count {
  display: grid;
  position: absolute;
  top: -50%;
  right: -50%;
  place-items: center;
  border-radius: 50%;
  background: var(--bg-dark);
  padding: 0 5px;
  min-width: 18px;
  height: 18px;
  color: white;
  font-weight: var(--weight-medium);
  font-size: 0.7rem;
}
.cart__count {
  transition: 0.2s ease;
}

.cart__count[data-count="0"] {
  display: none;
}

.navbar__cart:has(.cart__count:not([data-count="0"])) {
  color: black;
}
