.product {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  border-radius: 1rem;

  height: 60vh;
}

.product__images {
  display: flex;
  flex: 1;
  border-radius: 1rem;
  height: 100%;
}
.product__main-image {
  flex: 1;
  border-radius: 1rem;
  background-color: var(--bg-product);
  overflow: hidden;
}
.product__main-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product__thumbnails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 1rem;
  width: 25%;
}

.product__thumbnail {
  cursor: pointer;
  border-radius: 1rem;
  background-color: var(--bg-product);
  height: 25%;
  overflow: hidden;
}
.product__thumbnail:hover {
  outline: 2px solid black;
}
.product__thumbnail-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product__details {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 2rem;
}

.product__title {
  font-weight: var(--weight-black);
  font-size: 2.5rem;
  line-height: 1;
}

.rating__stars {
  color: var(--accent-star);
  font-size: 2rem;
}

.rating__count {
  color: var(--text-secondary);
  font-weight: var(--weight-medium);
}

.product__price {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.product__current-price {
  font-weight: var(--weight-bold);
  font-size: 1.5rem;
}

.product__old-price {
  color: var(--text-muted);
  font-weight: var(--weight-bold);
  font-size: 1.5rem;
  text-decoration: line-through;
}

.product__price-discount {
  border-radius: 2rem;
  background-color: var(--bg-discount);
  padding: 0.25rem 0.5rem;
  color: var(--text-discount);
  font-weight: var(--weight-medium);
  font-size: 1rem;
}

.product__description {
  color: var(--text-secondary);
  line-height: 1.5;
}

.product__cart-management {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.product__counter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
  border-radius: 2rem;
  background-color: var(--bg-secondary);
  padding: 0.5rem 1rem;
  width: 40%;
  font-weight: var(--weight-medium);
}

.product__counter-btn {
  transition: 0.2s ease;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  padding: 0.5rem;
  font-size: inherit;
}
.product__counter-btn:hover {
  background-color: var(--bg-dark);
  color: white;
}

.product__add {
  margin: 0;
  background-color: var(--bg-dark);
  max-width: 100%;
  color: white;
}

.product__reviews-heading {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 2rem 0;
}
.product__reviews-title {
  font-weight: var(--weight-bold);
  font-size: 1.5rem;
  line-height: 1;
}
.product__reviews-count {
  color: var(--text-muted);
}
.product__reviews-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
